@media screen and (max-width: 900px) {
    .header {
        font-size: 95%;
    }

    #center-justified {
    width: auto;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
    }
.grid-container {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: auto auto;   
    }
    
}



@media screen and (max-width: 620px) {
    .header {
        font-size: 90%;
    }
    #center-justified {
        width: auto;
        margin: auto;      
    }
    .grid-container {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: auto; 
    }

}